<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="main-box clearfix">
        <div class="search_box">
          <input
            #myInput
            placeholder="search users"
            class="input_search"
            [(ngModel)]="categorie"
          />
        </div>
        <div class="table-responsive">
          <table class="table user-list">
            <thead>
              <tr>
                <th><span>User</span></th>
                <th><span>Birth Date</span></th>
                <th class="text-center"><span>Profession</span></th>
                <th><span>Email</span></th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of list">
                <div *ngIf="user.accountCategory == categorie">
                  <td>
                    <img src="{{ user.picture }}" alt="" />
                    <a href="#" class="user-link"
                      >{{ user.firstName }} {{ user.lastName }}</a
                    >
                    <span class="user-subhead">{{ user.accountCategory }}</span>
                  </td>
                  <td>{{ user.birthDate }}</td>
                  <td class="text-center">
                    <span class="label label-default">{{
                      user.profession
                    }}</span>
                  </td>
                  <td>
                    <a href="#">{{ user.email }}</a>
                  </td>
                  <td style="width: 20%">
                    <Button
                      class="btn btn-danger"
                      (click)="deleteRow(user.idCustomer)"
                      [style.display]="
                        user.accountCategory == 'Admin' ? 'none' : 'block'
                      "
                    >
                      <i class="fa fa-trash-o"></i>
                    </Button>
                  </td>
                </div>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
